{% extends 'base.html.twig' %}
{% block title %}{{transaction.name}}{% endblock %}
{% block body %}
    {{form | raw}}
    <a href='/transactions' class='btn btn-primary'>Retourner à la liste des transactions</a>
{% endblock %}