{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}
    <h2>404 NOT FOUND</h2>
    <p>La page que vous cherchez n'existe pas ou plus. Cliquez <a href="{{base_url}}/home">ici</a> pour retourner à l'accueil.</p>
{% endblock %}
